.card-custom {
    position: relative;
    /* width: 90%; */
}

.card-custom .custom-card-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
}

.card-custom .custom-card-title {
    display: flex;
    justify-content: space-between;
}