.partners-carousel .carousel-inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.partners-carousel .carousel-inner .carousel-item.active .wrapper,
.partners-carousel .carousel-inner .carousel-item-next .wrapper,
.partners-carousel .carousel-inner .carousel-item-prev .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-carousel .carousel-inner .carousel-item.active img,
.partners-carousel .carousel-inner .carousel-item-next img,
.partners-carousel .carousel-inner .carousel-item-prev img {
    filter: none !important;
}

.partners-carousel .carousel-inner .carousel-item.active>div,
.partners-carousel .carousel-inner .carousel-item-next>div,
.partners-carousel .carousel-inner .carousel-item-prev>div {
    display: flex;
    justify-content: center;
}

.partners-carousel .carousel-control-prev,
.partners-carousel .carousel-control-next {
    width: 3%;
    opacity: .5 !important;
}

.partners-carousel span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23A1A3A7' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.partners-carousel .carousel-control-prev:hover,
.partners-carousel .carousel-control-next:hover {
    opacity: 1 !important;
}

.partners-carousel span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23A1A3A7' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.partners-carousel .carousel-inner .carousel-item-grid {
    display: grid !important;
    gap: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.partners-carousel .carousel-inner .carousel-item-grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.partners-carousel .carousel-inner .carousel-item-grid.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.partners-carousel .carousel-indicators {
    display: block !important;
    text-align: center;
    margin-bottom: 0 !important;
}

.partners-carousel.indicators-minus-margin .carousel-indicators {
    bottom: -2.5rem;
}

.partners-carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5F5656 !important;
    opacity: .5;
    /* color: #a1a3a780; */
}

.partners-carousel .carousel-indicators button.active {
    opacity: 1;
}

.partners-carousel .carousel-inner .carousel-item.active img.rounded-filter,
.partners-carousel .carousel-inner .carousel-item-next img.rounded-filter,
.partners-carousel .carousel-inner .carousel-item-prev img.rounded-filter {
    border-radius: 50%;
    opacity: .8;
    filter: brightness(50%) !important;
    width: 80%;
}

.partners-carousel .sport-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}